/node_modules
/public/hot
/public/css
/public/css/awcodes
/public/css/lunarphp
/public/js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.lando.local.yml
public/build
meilisearch/
.phpunit.cache/test-results
/config/lunar/
/public/mix-manifest.json
/public/build
