{
    auto_https off
}

http://landgrou.localhost {
    root * /var/www/public

    php_fastcgi php-fpm:9000 {
        root /var/www/public
    }

    file_server
    encode zstd gzip
}

http://pma.landgrou.localhost {
    reverse_proxy pma:80
    encode zstd gzip
}

http://mail.landgrou.localhost {
    reverse_proxy mailcatcher:1080
    encode zstd gzip
}
