@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-spinner {
        @apply [-moz-appearance:_textfield];
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }
}
:root {
    background-color: #f3f3f3;
}
#mobile-menu {
    transition: transform 0.3s ease-in-out;
}
#mobile-menu[x-show] {
    transform: translateY(0);
}
#mobile-menu:not([x-show]) {
    transform: translateY(-100%);
}
[x-cloak] {
    display: none;
}
#header {
    height: 56px;
}
#header ul {
    align-items: center;
}
.gallery-slide,
.certificate-slide {
    max-width: 250px;
    width: auto !important;
}

.home-slider-main {
    height: 480px;
}

.faq-answer {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

.review {
    background-color: #e6e6e6;
}
.review-card {
    background-color: #f3f3f3;
    box-shadow: 0 4px 10px #00000025;
}

.pt-40 {
    padding-top: 40px;
}

/* Приклад для 4 елементів на великих екранах */
@media (min-width: 1280px) {
    .product-card:nth-child(n + 5) {
        display: none;
    }
}

/* 3 елементи на середніх */
@media (min-width: 769px) and (max-width: 1279px) {
    .product-card:nth-child(n + 4) {
        display: none;
    }
}

/* 2 елементи на sm */
@media (min-width: 640px) and (max-width: 768px) {
    .product-card:nth-child(n + 4) {
        display: none;
    }
}

/* 1 елемент на дуже маленьких */
@media (max-width: 639px) {
    .product-card:nth-child(n + 3) {
        display: none;
    }
}

.swiper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}
.swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 2px;
    background: #d4d4d8;
    opacity: 1;
    border-radius: 4px;
    margin: 0 4px !important;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background: #228f5d;
}
.swiper-button-prev,
.swiper-button-next {
    all: unset;
    position: absolute;
    width: 42px !important;
    height: 42px !important;
    color: #228f5d;
    /* --swiper-navigation-size: 24px; */
    z-index: 99;
    cursor: pointer;
    pointer-events: auto;
    display: block;
    background: transparent;
    padding: 0 !important;
    top: auto !important;
    transform: none !important;
    left: auto !important;
}
.swiper-button-prev {
    bottom: -6px !important;
    right: 48px !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    scale: 1.03;
}
.swiper-button-next {
    bottom: -6px !important;
    right: 0 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    display: none;
}
.swiper-button-disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 767px) {
    .swiper-pagination {
        position: static !important;
        margin-top: 16px;
        width: auto !important;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "";
}

@media (max-width: 1014px) {
    #header {
        height: 67px;
    }
}

@media (max-width: 663px) {
    .custom-order {
        order: 1 !important;
    }
}

.reviews:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: #e6e6e6;
    /* box-shadow: 0 10px 40px rgba(0, 0, 0, .25); */
    z-index: -1;
    height: 100%;
}
.home-about-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: #333;
    z-index: -1;
    height: 100%;
}
#footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: #333;
    z-index: -1;
    height: 100%;
}
