@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-spinner {
        @apply [-moz-appearance:_textfield];
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }
}
#mobile-menu {
    transition: transform 0.3s ease-in-out;
}
#mobile-menu[x-show] {
    transform: translateY(0);
}
#mobile-menu:not([x-show]) {
    transform: translateY(-100%);
}
[x-cloak] {
    display: none;
}

.gallery-slide {
    max-width: 250px;
    width: auto !important;
}



.swiper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}
.swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 2px;
    background: #d4d4d8;
    opacity: 1;
    border-radius: 4px;
    margin: 0 4px !important;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background: #228f5d;
}
.swiper-button-prev,
.swiper-button-next {
    width: 26px;
    top: auto;
    height: 56px;
    margin-top: 0;
    color: #228f5d;
    --swiper-navigation-size: 24px;
    z-index: 20;
    cursor: pointer;
    pointer-events: auto;
    display: block;
    background: transparent;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 24px;
}
.swiper-button-disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
}
@media (max-width: 767px) {
    .swiper-pagination {
        position: static !important;
        margin-top: 16px;
        width: auto !important;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: "";
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: "";
}
